<% include partials/header %>
<body>
  <section class="backdrop">
    <header class="header">

      <h1 class="cellar-title">The Tobacco Cellar</h1>

      <nav class="nav-bar">
        <a href="./index.html"><button type="nav" name="button">Home</button><a>
      <a href="./cellar.html"><button type="nav" name="button">My Cellar</button></a>
        <a href="./pipes.html"><button type="nav" name="button">My Pipes</button></a>
        <a href="./open.html"><button type="nav" name="button">Open Baccy</button></a>
        <a href="/add"><button class="add-btn"type="button" name="sign-up">Add Blend</button></a>
        <a href="signup.html"><button type="button" type="nav" name="sign-up">Sign Up</button></a>
      </nav>
    </header>
<!--Tobacco cellar add form-->
    <form class="add" method="POST" action="/add">
      <section id="form-card" class="form-card hidden">
        <section class="form-row">
          <section class="form-group col-md-6">
            <label for="imgUrl">Image URL</label>
            <input type="text" class="form-control" placeholder="Image URL" name="imgUrl">
          </section>
          <section class="form-group col-md-6">
            <label for="age">Age</label>
            <input type="text" class="form-control" placeholder="Age" name="age">
          </section>
          <section class="form-group col-md-6">
            <label for="brand">Brand</label>
            <input type="text" class="form-control" placeholder="Brand" name="brand">
          </section>
          <section class="form-group col-md-6">
            <label for="price">Price</label>
            <input type="text" class="form-control" placeholder="Price" name="price">
          </section>
        </section>
        <section class="form-row">
          <section class="form-group col-md-6">
            <label for="blend">Blend</label>
            <input type="text" class="form-control" placeholder="Blend" name="blend">
          </section>
          <section class="form-group col-md-6">
            <label for="weight">Weight</label>
            <input type="text" class="form-control" placeholder="Weight" name="weight">
          </section>
          <section class="form-group col-md-6">
            <label for="purchase-date">Purchase Date</label>
            <input type="text" class="form-control" placeholder="Purchase Date" name="date">
          </section>
          <section class="form-group col-md-6">
            <label for="is-available">Available</label>
            <input type="text" class="form-control" placeholder="Available" name="available">
          </section>
          <section class="form-group col-md-6">
            <label for="source">Source</label>
            <input type="text" class="form-control" placeholder="Source" name="source">
          </section>
          <section class="form-group col-md-6">
            <label for="rating">Rating (1 - 5)</label>
            <input type="text" class="form-control" placeholder="Rating (1 - 5)" name="rating">
          </section>
          <section class="form-group col-md-6">
            <label for="open-closed">Open</label>
            <input type="radio" name="open" value="">
            <label for="open-closed">Cellared</label>
            <input type="radio" name="open" value="">
          </section>
        </section>
        <button type="submit" class="btn btn-primary">Add Blend!</button>
      </section>
    </form>
  </section>


  <footer>
    &copy; Copyright 2018
  </footer>


  <!--Bootstrap JS-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  <!--My personal JS file-->
  <!-- <script type="text/javascript" src="js/main.js"></script> -->
</body>

</html>
