/* font-family: 'Rajdhani', sans-serif; */

* {
  font-family: 'Rajdhani', sans-serif;
}

body {
  background: url('https://www.smokingpipes.com/images/wallpapers/Bruyere1600x1200.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.backdrop {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  opacity: 0.65;
}

.cellar-title {
  width: 380px;
  margin-left: 18px;
  color: white;
}

.nav-bar {
  border: 1px solid white;
  float: right;
  width: 950px;
  padding-top: 20px;
  padding-left: 10px;
  margin-left: 315px;
}

button {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  font-weight: bolder;
}

.active {
  /* border-bottom: 5px solid blue; */
}

button:focus {
  outline: 0;
}

.sign-up {
  width: 200px;
  padding-left: 50px;
  margin-left: 120px;
}

#form-card {
  width: 700px;
  padding: 50px;
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 75px;
  margin-left: 25%;
  background-color: black;
  font-weight: bolder;
  font-size: 24px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.home-email {
  background-color: #f3f3f3;
  width: 315px;
  height: 40px;
  color: black;
  border-radius: 5px;
}

.home-btn {
  height: 40px;
}

footer {
  font-size: 14px;
}

/*Cellar card*/

img {
  width: 150px;
  height: 150px;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 15px;
}

.cellar-card-child {
  display: flex;
  width: 800px;
  height: 420px;
  /* opacity: 2.9; */
  border: 3px solid white;
  margin-top: 50px;
  margin-left: 20%;
  background-color: #534335;
  border-radius: 10px;
  /* like #403a2f & #2d180c* & #534335 #483557 */
}

.column1 {
  width: 490px;
  padding: 18px;
}

.column2 {
  width: 305px;
  padding-top: 181px;
}

.or {
  width: 200px;
  height: 60px;
  margin-top: 70px;
  margin-left: 42%;
  text-align: -webkit-center;
}
/* h2 on sign in card */
.sign-in {
  padding-left: 217px;
}
/*h2 sign up*/
.sign-up-heading {
  width: 200px;
  text-align: -webkit-center;
  margin-left: 170px;
  margin-bottom: 50px;
}

.sign-in-card {
  width: 700px;
  padding: 50px;
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 75px;
  margin-left: 25%;
  background-color: black;
  font-weight: bolder;
  font-size: 24px
}
